<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediction</title>
    <link
      href="{{ url_for('static', path='/index.css?v=1.0.2') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <h3>歡迎使用短文本分類預測</h3>
    </nav>
    <div class="prediction-container">
      <div class="form">
        <h4>輸入一篇文章的標題</h4>
        <input id="title" type="text" name="title" />
        <button id="submit" onclick="prediction()">預測分類</button>
      </div>
      <div class="loading">模型預測中，請稍後...</div>
    </div>
    <div class="result-container">
      <h4>預測結果：<span class="result"></span></h4>
      <div class="choose">請選擇您認為的分類</div>
      <div class="labels"></div>
      <div class="feeback-container">
        <h4 class="thank">感謝您的回饋：<span class="feeback"></span></h4>
      </div>
    </div>

    <script src="{{ url_for('static', path='/index.js?v=1.0.9') }}"></script>
  </body>
</html>
