body {
  margin: 0;
  font-family: Arial;
}

nav {
  background-color: #0047aa;
  color: white;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prediction-container,
.form,
.loading,
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-container,
.feeback-container {
  display: none;
}

.loading {
  margin: 20px 0;
  display: none;
  font-size: 14px;
}

.choose {
  font-size: 14px;
}

input {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  width: 400px;
  height: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid grey;
}

#submit {
  background-color: #0047aa;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 2px;
  color: white;
}

#submit:hover {
  background-color: #188fff;
  cursor: pointer;
}

input:focus {
  outline: 1px solid grey;
}

.label {
  border: 1px solid #0047aa;
  background-color: white;
  height: 30px;
  width: 95px;
  border-radius: 2px;
  color: #0047aa;
  margin: 0 3px;
}

.label:hover {
  background-color: #0047aa;
  color: white;
  cursor: pointer;
}

.labels {
  margin: 20px 0;
}

.thank {
  margin: 0;
}
